// 颜色定义规范
@color-primary: #31c27c;



//字体定义规范
@font-size: 14px;
@font-size-small : 12rpx;
@font-size-middle : 16rpx;
@font-size-big : 18rpx;

@font-color-main: #212121;
@font-color-minor: #474747;


